BODY,P,CENTER,TD,TH,UL,DL,DIV {
        font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
}
BODY {
	MARGIN-LEFT: 0px;
	MARGIN-RIGHT: 0px;
	MARGIN-TOP: 0px;
	padding: 75px 0px 0px 0px;

}
H1 {
	MARGIN-TOP: 30px;
	MARGIN-LEFT: 12px;
	MARGIN-RIGHT: 12px;
        font-size: 160%;
        COLOR: darkorange;
        font-family: Geneva, Arial;
        FONT-WEIGHT: bold; 
}
H2 {
	MARGIN-LEFT: 12px;
	MARGIN-RIGHT: 12px;
        COLOR: darkorange;
        font-size: 120%;
        font-family: Geneva, Arial;
        FONT-WEIGHT: bold; 
}
H3 {
	MARGIN-LEFT: 12px;
	MARGIN-RIGHT: 12px;
        COLOR: darkorange;
        font-size: 100%;
        font-family: Geneva, Arial;
        FONT-WEIGHT: bold; 
}
H4 {
	MARGIN-LEFT: 12px;
	MARGIN-RIGHT: 12px;
        COLOR: darkorange;
        font-size:  90%;
        font-family: Geneva, Arial;
        FONT-WEIGHT: bold; 
}
P {
	MARGIN-LEFT: 12px;
	MARGIN-RIGHT: 12px;
}
OL {
	MARGIN-LEFT: 24px;
	MARGIN-RIGHT: 12px;
}
UL {
	MARGIN-LEFT: 36px; LIST-STYLE-TYPE: square;
	MARGIN-RIGHT: 12px;
}
UL UL {
	MARGIN-LEFT: 48px; LIST-STYLE-TYPE: disc;
	MARGIN-RIGHT: 12px;
}
UL UL UL {
	MARGIN-LEFT: 50px; LIST-STYLE-TYPE: circle;
	MARGIN-RIGHT: 12px;
}

A {     
	COLOR: blue;
        TEXT-DECORATION: none
}
A:visited {
	COLOR: darkblue; 
        TEXT-DECORATION: none
}
A:hover {
	COLOR: darkblue;
        TEXT-DECORATION: underline;
}
IMG {
	BORDER-TOP-STYLE: none; 
        BORDER-RIGHT-STYLE: none; 
        BORDER-LEFT-STYLE: none; 
        BORDER-BOTTOM-STYLE: none
}
HR {
	DISPLAY: inline; 
        WIDTH: 100%; 
        COLOR: darkblue; 
        BORDER-TOP-STYLE: none; 
        BORDER-RIGHT-STYLE: none; 
        BORDER-LEFT-STYLE: none; 
        HEIGHT: 1px; 
        BACKGROUND-COLOR: #008888; 
        BORDER-BOTTOM-STYLE: none
}
UNKNOWN {
	MARGIN-LEFT: 12px;
	MARGIN-RIGHT: 12px;
}


A.bold {
	COLOR: blue;
        TEXT-DECORATION: none;
        font-family: Geneva, Arial;
        FONT-WEIGHT: bold; 
}

TABLE.body TABLE {


	MARGIN-LEFT: 12px;
	MARGIN-RIGHT: 12px;
        CELL-SPACING: 10px;
}

TABLE.body TABLE TD {

        BACKGROUND-COLOR: white;
	padding-right: 10px;
	padding-top: 10px;
	padding-left: 10px;
	padding-bottom: 10px;
        VERTICAL-ALIGN: top;
        HORIZONTAL-ALIGN: right;
}

TABLE.body {
        BORDER: #546e8f 0px none; 

        BACKGROUND-COLOR: white;
	MARGIN-LEFT: 0px;
	MARGIN-RIGHT: 0px;
	MARGIN-BOTTOM: 0px;
	WIDTH: 750px;
}

TABLE.body TD{
        BORDER: #546e8f 0px none; 

        BACKGROUND-COLOR: white;
	MARGIN-LEFT: 12px;
	MARGIN-RIGHT: 12px;
	MARGIN-TOP: 0px;
	MARGIN-BOTTOM: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-left: 0px;
	padding-bottom: 0px;
        font-size: 75%;
        VERTICAL-ALIGN: top;
}


TABLE.menu {
        BORDER: #546e8f 1px solid; 

        BACKGROUND-COLOR: #E0E0E0;
}
TABLE.menu TD{
        BORDER: #546e8f 0px solid; 

        BACKGROUND-COLOR: #E0E0E0;
        font-size: 75%;
}

TABLE.mainmenu {
	MARGIN-LEFT: 0px;
	MARGIN-RIGHT: 0px;
	MARGIN-TOP: 0px;
	MARGIN-BOTTOM: 0px;
        BORDER: #546e8f 0px solid; 

        BACKGROUND-COLOR: #FFFFFF;
        width: 750px;
}

TABLE.mainmenu TD{
	MARGIN-LEFT: 0px;
	MARGIN-RIGHT: 0px;
	MARGIN-TOP: 0px;
	MARGIN-BOTTOM: 0px;
        BORDER: #546e8f 0px none; 
        PADDING-LEFT: 5px;
        PADDING-RIGHT: 5px;
        PADDING-TOP: 0px;
        PADDING-BOTTOM: 0px;
        TEXT-ALIGN: right;
	width: 100%;
        font-size: 75%;
}

DIV {
	font-family : Tahoma, Helvetica;
        font-size: 75%;
}

.clsCMOn {
	color: black;
	font-size : 12px;
	text-decoration : none;
        padding: 2px 4px;
}

.clsCMOver {
	color: black;
	font-size : 12px;
	text-decoration : none;
        padding: 2px 4px;
}

#searchfield {
	FONT-SIZE: 10px; 
	FONT-FAMILY: Arial, Helvetica, sans-serif;
	BORDER-RIGHT: #aaaaaa 1px solid; 
	BORDER-TOP: #aaaaaa 1px solid; 
	BORDER-LEFT: #aaaaaa 1px solid; 
	BORDER-BOTTOM: #aaaaaa 1px solid; 
}

#searchbutton {
	BORDER-RIGHT: #aaaaaa 1px solid; 
        BORDER-TOP: #aaaaaa 1px solid; 
        BORDER-LEFT: #aaaaaa 1px solid; 
        BORDER-BOTTOM: #aaaaaa 1px solid; 
        FONT-SIZE: 10px; 
        FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif; 
}


